# Segmenting and Clustering Neighborhoods in Toronto

## For this assignment, you will be required to explore and cluster the neighborhoods in Toronto.


### Use the Notebook to build the code to scrape the following Wikipedia page, https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M, in order to obtain the data that is in the table of postal codes and to transform the data into a pandas dataframe like the one shown below:

In [71]:
# import libraries
import numpy as np
import pandas as pd
from bs4 import BeautifulSoup
import requests   # library to handle requests

# used older URL in order to complete all portions of assignment
wiki_url = "https://en.wikipedia.org/w/index.php?title=List_of_postal_codes_of_Canada:_M&oldid=862527922"
source = requests.get(wiki_url).text

# use beautifulsoup to scrape
soup = BeautifulSoup(source, 'xml')
table = soup.find('table',{'class':'wikitable sortable'})

### The dataframe will consist of three columns: PostalCode, Borough, and Neighborhood

In [72]:
# extract table from site and clean up columns
table_rows = table.find_all('tr')
data = []
for row in table_rows:
    td=[]
    for t in row.find_all('td'):
        td.append(t.text.strip())
    data.append(td)
df = pd.DataFrame(data, columns=['Postal Code', 'Borough', 'Neighborhood'])
df.head(10)

  Postal Code           Borough      Neighborhood
0        None              None              None
1         M1A      Not assigned      Not assigned
2         M2A      Not assigned      Not assigned
3         M3A        North York         Parkwoods
4         M4A        North York  Victoria Village
5         M5A  Downtown Toronto      Harbourfront
6         M5A  Downtown Toronto       Regent Park
7         M6A        North York  Lawrence Heights
8         M6A        North York    Lawrence Manor
9         M7A      Queen's Park      Not assigned

### Only process the cells that have an assigned borough. Ignore cells with a borough that is Not assigned.

In [73]:
# filter out rows without borough or Not assigned
df = df[~df['Borough'].isnull()]
df.drop(df[df.Borough == 'Not assigned'].index, inplace = True)
df.reset_index(drop = True, inplace = True)

df.head(10)

  Postal Code           Borough      Neighborhood
0         M3A        North York         Parkwoods
1         M4A        North York  Victoria Village
2         M5A  Downtown Toronto      Harbourfront
3         M5A  Downtown Toronto       Regent Park
4         M6A        North York  Lawrence Heights
5         M6A        North York    Lawrence Manor
6         M7A      Queen's Park      Not assigned
7         M9A         Etobicoke  Islington Avenue
8         M1B       Scarborough             Rouge
9         M1B       Scarborough           Malvern

### More than one neighborhood can exist in one postal code area. For example, in the table on the Wikipedia page, you will notice that M5A is listed twice and has two neighborhoods: Harbourfront and Regent Park. These two rows will be combined into one row with the neighborhoods separated with a comma as shown in row 11 in the above table.

### If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough.

In [74]:
# add commas and join neighborhoods
df = df.groupby(['Postal Code', 'Borough'])['Neighborhood'].apply(lambda x: ', '.join(x)).reset_index()
df['Neighborhood'].replace('Not assigned', df['Borough'], inplace = True)

df.head()

  Postal Code      Borough                            Neighborhood
0         M1B  Scarborough                          Rouge, Malvern
1         M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2         M1E  Scarborough       Guildwood, Morningside, West Hill
3         M1G  Scarborough                                  Woburn
4         M1H  Scarborough                               Cedarbrae

### In the last cell of your notebook, use the .shape method to print the number of rows of your dataframe

In [75]:
df.shape

(103, 3)